 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/aa49171ae830b7b6edab3afc627efee8302f891551abbc76aff40c149ce1a87c805c0b3f3f131466cc33fee69acf82fc37ff5709a0d088a34b1542_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 195px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 95px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-text-2 {
    font-weight: normal;
    width: 798px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-block-3555-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3555-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-3555-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-2-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-2-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-2-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-9d1e-10 {
  height: 46px;
}

.u-block-9d1e-27 {
  height: 46px;
}

.u-section-2-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-2-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2-3 .u-image-1 {
  height: 369px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 49px auto 60px;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-2-4 .u-image-1 {
  height: 369px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 39px auto 60px;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-2-5 .u-image-1 {
  height: 369px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 39px auto 60px;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-2-6 .u-image-1 {
  height: 369px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 39px auto 60px;
}

.u-section-2-7 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-2-7 .u-image-1 {
  height: 369px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2-7 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 38px auto 60px;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 111px auto 0;
}

.u-section-2-8 .u-image-1 {
  height: 369px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2-8 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 38px auto 60px;
}.u-block-a2af-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-a2af-3 {
  position: absolute;
  left: 0;
}

.u-block-a2af-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-3-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-3-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-9e01-10 {
  height: 46px;
}

.u-block-9e01-27 {
  height: 46px;
}

.u-section-3-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3-3 .u-image-1 {
  width: 469px;
  height: 304px;
  margin: 63px auto 0;
}

.u-section-3-3 .u-text-4 {
  margin: 44px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-3-3 .u-image-1 {
    width: 340px;
    height: 220px;
  }
}

.u-section-3-4 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3-4 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-4 .u-text-2 {
  margin: 80px auto 0;
}

.u-section-3-4 .u-image-1 {
  width: 469px;
  height: 304px;
  margin: 60px auto 0;
}

.u-section-3-4 .u-text-3 {
  margin: 47px auto 60px;
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-3-4 .u-image-1 {
    width: 340px;
    height: 220px;
  }
}.u-block-16b9-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-16b9-3 {
  position: absolute;
  left: 0;
}

.u-block-16b9-4 {
  position: absolute;
  right: 0;
}

 .u-section-4-1 {
  background-image: none;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-4-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-4-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-4-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-4-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-c970-10 {
  height: 46px;
}

.u-block-c970-27 {
  height: 46px;
}

.u-section-4-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-4-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-4-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4-3 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-4-3 .u-text-3 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-4-3 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 22px auto 0;
}

.u-section-4-3 .u-text-4 {
  font-weight: 700;
  margin: 22px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4-3 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-block-bfad-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-bfad-3 {
  position: absolute;
  left: 0;
}

.u-block-bfad-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-5-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-5-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-5-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-5-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-841b-10 {
  height: 46px;
}

.u-block-841b-27 {
  height: 46px;
}

.u-section-5-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-5-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-5-3 .u-text-1 {
  text-transform: uppercase;
  margin: 332px 59px 60px;
}.u-block-e2f3-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-e2f3-3 {
  position: absolute;
  left: 0;
}

.u-block-e2f3-4 {
  position: absolute;
  right: 0;
}

 .u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-6-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-6-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-6-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-6-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-6-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-1c89-10 {
  height: 46px;
}

.u-block-1c89-27 {
  height: 46px;
}

.u-section-6-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-6-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-6-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6-3 .u-image-1 {
  width: 448px;
  height: 448px;
  margin: 38px auto 0;
}

.u-section-6-3 .u-text-3 {
  margin: 20px auto 60px;
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}

.u-section-6-4 .u-sheet-1 {
  min-height: 768px;
}

.u-section-6-4 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6-4 .u-image-1 {
  width: 796px;
  height: 448px;
  margin: 38px auto 0;
}

.u-section-6-4 .u-text-3 {
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-6-4 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-6-4 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-6-4 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-6-4 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}

.u-section-6-5 .u-sheet-1 {
  min-height: 768px;
}

.u-section-6-5 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6-5 .u-image-1 {
  width: 796px;
  height: 500px;
  margin: 38px auto 0;
}

.u-section-6-5 .u-text-3 {
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6-5 .u-image-1 {
    width: 720px;
    height: 452px;
  }
}

@media (max-width: 767px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-6-5 .u-image-1 {
    width: 540px;
    height: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-6-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6-5 .u-image-1 {
    width: 340px;
    height: 213px;
  }
}.u-block-20f1-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-20f1-3 {
  position: absolute;
  left: 0;
}

.u-block-20f1-4 {
  position: absolute;
  right: 0;
}

 .u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-7-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-7-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-7-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-7-2 .u-text-1 {
  margin: 71px 386px 0 auto;
}

.u-section-7-2 .u-table-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-block-9887-10 {
  height: 46px;
}

.u-block-9887-27 {
  height: 46px;
}

.u-section-7-2 .u-text-2 {
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-text-1 {
    margin-right: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-text-1 {
    margin-right: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-text-1 {
    margin-right: 115px;
  }
}

.u-section-7-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-7-3 .u-text-1 {
  text-transform: uppercase;
  margin: 332px 0 60px;
}.u-block-047c-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-047c-3 {
  position: absolute;
  left: 0;
}

.u-block-047c-4 {
  position: absolute;
  right: 0;
}

 .u-section-8-1 {
  background-image: none;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-8-1 .u-text-1 {
  width: 192px;
  margin: 305px auto 0;
}

.u-section-8-1 .u-text-2 {
  font-weight: 700;
  margin: 77px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-8-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-8-2 .u-text-1 {
  margin: 69px auto 0;
}

.u-section-8-2 .u-table-1 {
  margin-top: 73px;
  margin-bottom: 0;
}

.u-block-99c4-10 {
  height: 46px;
}

.u-block-99c4-27 {
  height: 46px;
}

.u-section-8-2 .u-text-2 {
  margin: 29px auto 60px;
}

.u-section-8-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-8-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 358px auto 60px;
}