body {
    background: white;
  }
  
  .form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .form:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
    transition: all 0.3s ease-in-out;
  }
  
  .login-input:focus {
    border-color: #6e8095;
    outline: none;
    box-shadow: 0px 0px 5px rgba(110, 128, 149, 0.5);
  }
  
  .login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background: #3f8ae0;
  }
  
  .link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .link a {
    color: #666;
  }
  
  h3 {
    font-weight: normal;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }